{% extends 'base.html' %}

{% load i18n %}

{% block title %}User List{% endblock %}

{% block content %}

  {% if request.user.is_authenticated %}
    Hi {{ user.username }}!
    <a href="{% url 'teamlist' %}"> Teams Page</a>
    {% for user in object_list%}

      {% if user.id != request.user.id %}
      <p>{{ user.id }} - <a href="https://www.youtube.com/watch?v=Xeh9r0CXBmU"> {{user.username}} </a></p>


          {% if user not in request.user.likes.all %}
            <form action="{% url 'match' %}" method="Post">
                {% csrf_token %}
                <button type="submit" name="id" value="{{user.id}}">Like!</button>
            </form>
          {% endif %}


      {% endif %}


    {% endfor %}

    <a href="{% url 'logout' %}"> Logout </a>

  {% else %}
    <p> Pls <a href="{% url 'login' %}"> Login </a> ...</p>

  {% endif %}

{% endblock %}
