{% extends 'base.html' %}

{% block title %}Team List{% endblock %}

{% block content %}


  {% if request.user.id %}
    Hi {{ user.username }}!


  <h2>Your Teams</h2>

  {% for team in object_list%}
    {% if team.owner.id == request.user.id %}
      <h4><a href="https://www.youtube.com/watch?v=Xeh9r0CXBmU"> {{team.name}}  </a></h4>
     <p>Owner = {{ team.owner }} <br>
       Event Name = {{ team.event_name}}<br>
       Event Type = {{team.event_type}}<br>
       Founded = {{team.team_date}}<br>
       Event Date = {{team.event_date}}
     </p>

    {% endif %}
  {% endfor %}

<hr>

 <h2>Teams</h2>

 {% for team in object_list %}
      {% if team.owner.id != request.user.id %}
      <h4><a href="https://www.youtube.com/watch?v=Xeh9r0CXBmU"> {{team.name}}  </a></h4>
    <p>Owner = {{ team.owner }} <br>
       Event Name = {{ team.event_name}}<br>
       Event Type = {{team.event_type}}<br>
       Founded = {{team.team_date}}<br>
       Event Date = {{team.event_date}}

    </p>

    <form action="{% url 'useradd' %}" method="Post">
                {% csrf_token %}
                <button type="submit" name="id" value="{{user.id}}"> Join Team! </button>
         </form>


    {% endif %}


  {% endfor %}


   <a href = "{% url 'logout' %}" > Logout </a>  <br>
   <a href="{% url 'createteam' %}" > Create New Team.</a>  <br>
   <a href="{% url 'userlist' %}" > User List </a>


  {% else %}
    <p> Pls <a href="{% url 'login' %}" > Login </a>  ...</p>

  {% endif %}

{% endblock %}